body {
  height: 100vh;
  background-image: linear-gradient(rgb(165, 175, 202), rgb(33, 124, 143));

}

#register_area {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register {
  width: 400px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(rgb(134, 111, 213), rgb(123, 28, 101));


}
h2 {
  text-align: center;
}

.submit {
  width: 100%;
}
.aSignUp{
    text-decoration: none;
}
